html
    head
        title= locals.title
        link(href='public/style/serve.css', rel='stylesheet')
    body
        include components/header
        .wrapper
            include components/leftnav
            .main
                .contact
                    h3 Contact Me
                    p You can reach me at &nbsp;
                        a(href="mailto:longuskikirk@gmail.com") longuskikirk@gmail.com
                        |&nbsp;or&nbsp;
                        a(href="tel:9893720095") 989-372-0095
                .expertise
                    h3 Expertise
                    table.table.sortable.searchable.selectable.desktop-only
                        thead.table__head
                            tr.table__row
                                th.table__header Technology
                                th.table__header Years experience
                                th.table__header Associated technologies
                        tbody.table__body
                            each tech in locals.expertise
                                tr.table__row
                                    td.table__cell= tech.technology
                                    td.table__cell= tech.years
                                    td.table__cell
                                        each t in tech.associated
                                            span.table__text= t

                    .mobile-only.expertise-mobile.detail-list
                        each tech in locals.expertise
                            .detail-list__item
                                h4.detail-list__title= tech.technology
                                span.detail-list__subtitle Years: #{tech.years}
                                .detail-list__details Also:
                                    each ass in tech.associated
                                        span.detail-list__detail= ass
        footer.footer
            include components/footer
    script(src='public/script/serve.js')
